---
import { getCollection } from 'astro:content'
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import SongItem from '../../components/SongItem.astro';

const artistSongs = await getCollection('lyrics', ({ data }) => {
    return data.artist.name == "Aphex Twin"
})
---

<ArtistLayout 
    artistName="Aphex Twin"
    artistDescription="An influential figure in electronic music, Aphex Twin (Richard D. James) is known for his innovative and experimental approach to electronic soundscapes.."
    artistCoverImage="url(https://cdn.torten.lol/server/artistsdb/covers/artist/aphex-twin.jpg)"
    artistSpotifyProfile="https://open.spotify.com/artist/6kBDZFXuLrZgHnvmPu9NsG"
    monthlyPlays={3117735}>
    <main>
        <p class="heading">Random Songs</p>
        <div>
            {artistSongs.map(entry => (
                <ul>
                    <a href={`/song/${entry.slug}`} style="text-decoration: none; color: currentColor">
                        <SongItem
                            title={entry.data.songTitle}
                            albumImageURL={entry.data.album.imageURL}
                            albumTitle={entry.data.album.name}
                            runningTime={entry.data.length}
                            releaseDate={entry.data.releaseDate}
                            />
                    </a>
                </ul>
                )
            )}
        </div>
    </main>
</ArtistLayout>


<style>
    p.heading {
        margin: 0.75em 1.25em;
        font-weight: 600;
        font-size: 1.25rem;
    }
</style>