---
import { getCollection } from 'astro:content'
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import SongItem from '../../components/SongItem.astro';

const artistSongs = await getCollection('lyrics', ({ data }) => {
    return data.artist.name == "Artic Monkeys"
})
---

<ArtistLayout 
    artistName="Artic Monkeys"
    artistDescription="This British indie rock band gained widespread acclaim for their energetic sound and clever lyrics, making them a prominent figure in the indie music scene."
    artistCoverImage="url(https://cdn.torten.lol/server/artistsdb/covers/artist/artic-monkeys.jpg)"
    artistSpotifyProfile="https://open.spotify.com/artist/7Ln80lUS6He07XvHI8qqHH"
    monthlyPlays={49679429}>
    <main>
        <p class="heading">Random Songs</p>
        <div>
            {artistSongs.map(entry => (
                <ul>
                    <a href={`/song/${entry.slug}`} style="text-decoration: none; color: currentColor">
                        <SongItem
                            title={entry.data.songTitle}
                            albumImageURL={entry.data.album.imageURL}
                            albumTitle={entry.data.album.name}
                            runningTime={entry.data.length}
                            releaseDate={entry.data.releaseDate}
                            />
                    </a>
                </ul>
                )
            )}
        </div>
    </main>
</ArtistLayout>


<style>
    p.heading {
        margin: 0.75em 1.25em;
        font-weight: 600;
        font-size: 1.25rem;
    }
</style>