---
import { getCollection } from 'astro:content'
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import SongItem from '../../components/SongItem.astro';

const artistSongs = await getCollection('lyrics', ({ data }) => {
    return data.artist.name == "The Beatles"
})
---

<ArtistLayout 
    artistName="The Beatles"
    artistDescription="This legendary British band transformed the music landscape with their innovative sound, catchy melodies, and experimentation, leaving an indelible mark on rock history."
    artistCoverImage="url(https://cdn.torten.lol/server/artistsdb/covers/artist/photo_6305330007542710099_x.jpg)"
    artistSpotifyProfile="https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2"
    monthlyPlays={33757232}>
    <main>
        <p class="heading">Random Songs</p>
        <div>
            {artistSongs.map(entry => (
                <ul>
                    <a href={`/song/${entry.slug}`} style="text-decoration: none; color: currentColor">
                        <SongItem
                            title={entry.data.songTitle}
                            albumImageURL={entry.data.album.imageURL}
                            albumTitle={entry.data.album.name}
                            runningTime={entry.data.length}
                            releaseDate={entry.data.releaseDate}
                            />
                    </a>
                </ul>
                )
            )}
        </div>
    </main>
</ArtistLayout>


<style>
    p.heading {
        margin: 0.75em 1.25em;
        font-weight: 600;
        font-size: 1.25rem;
    }
</style>