---
import { getCollection } from 'astro:content'
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import SongItem from '../../components/SongItem.astro';

const artistSongs = await getCollection('lyrics', ({ data }) => {
    return data.artist.name == "Drake"
})
---

<ArtistLayout 
    artistName="Drake"
    artistDescription="With a versatile style and chart-topping hits, Drake has become a global hip-hop sensation, blending rap with R&B influences."
    artistCoverImage="url(https://cdn.torten.lol/server/artistsdb/covers/artist/drake.webp)"
    artistSpotifyProfile="https://open.spotify.com/artist/3TVXtAsR1Inumwj472S9r4"
    monthlyPlays={81982298}>
    <main>
        <p class="heading">Random Songs</p>
        <div>
            {artistSongs.map(entry => (
                <ul>
                    <a href={`/song/${entry.slug}`} style="text-decoration: none; color: currentColor">
                        <SongItem
                            title={entry.data.songTitle}
                            albumImageURL={entry.data.album.imageURL}
                            albumTitle={entry.data.album.name}
                            runningTime={entry.data.length}
                            releaseDate={entry.data.releaseDate}
                            />
                    </a>
                </ul>
                )
            )}
        </div>
    </main>
</ArtistLayout>


<style>
    p.heading {
        margin: 0.75em 1.25em;
        font-weight: 600;
        font-size: 1.25rem;
    }
</style>