
---
import { getCollection } from 'astro:content'
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import SongItem from '../../components/SongItem.astro';

const artistSongs = await getCollection('lyrics', ({ data }) => {
    return data.artist.name == "Eraserheads"
})
---

<ArtistLayout 
    artistName="Eraserheads"
    artistDescription="A legendary rock band, Eraserheads is often regarded as one of the most influential and successful OPM acts, contributing to the Philippine music scene in the 1990s."
    artistCoverImage="url(https://cdn.torten.lol/server/artistsdb/covers/artist/eraserheads.jpg)"
    artistSpotifyProfile="https://open.spotify.com/artist/7374lH6kwx9uQATYQ9H3Cp"
monthlyPlays={2816132}>
    <main>
        <p class="heading">Random Songs</p>
        <div>
            {artistSongs.map(entry => (
                <ul>
                    <a href={`/song/${entry.slug}`} style="text-decoration: none; color: currentColor">
                        <SongItem
                            title={entry.data.songTitle}
                            albumImageURL={entry.data.album.imageURL}
                            albumTitle={entry.data.album.name}
                            runningTime={entry.data.length}
                            releaseDate={entry.data.releaseDate}
                            />
                    </a>
                </ul>
                )
            )}
        </div>
    </main>
</ArtistLayout>


<style>
    p.heading {
        margin: 0.75em 1.25em;
        font-weight: 600;
        font-size: 1.25rem;
    }
</style>