---
import { getCollection } from 'astro:content'
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import SongItem from '../../components/SongItem.astro';

const artistSongs = await getCollection('lyrics', ({ data }) => {
    return data.artist.name == "Johnny Cash"
})
---

<ArtistLayout 
    artistName="Johnny Cash"
    artistDescription="Known as the &quot;Man in Black&quot;, Johnny Cash&apos;s deep, distinctive voice and storytelling lyrics made him a country music icon."
    artistCoverImage="url(https://cdn.torten.lol/server/artistsdb/covers/artist/johnny-cash.jpg)"
    artistSpotifyProfile="https://open.spotify.com/artist/6kACVPfCOnqzgfEF5ryl0x"
    monthlyPlays={11997907}>
    <main>
        <p class="heading">Random Songs</p>
        <div>
            {artistSongs.map(entry => (
                <ul>
                    <a href={`/song/${entry.slug}`} style="text-decoration: none; color: currentColor">
                        <SongItem
                            title={entry.data.songTitle}
                            albumImageURL={entry.data.album.imageURL}
                            albumTitle={entry.data.album.name}
                            runningTime={entry.data.length}
                            releaseDate={entry.data.releaseDate}
                            />
                    </a>
                </ul>
                )
            )}
        </div>
    </main>
</ArtistLayout>


<style>
    p.heading {
        margin: 0.75em 1.25em;
        font-weight: 600;
        font-size: 1.25rem;
    }
</style>