---
import { getCollection } from 'astro:content'
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import SongItem from '../../components/SongItem.astro';

const artistSongs = await getCollection('lyrics', ({ data }) => {
    return data.artist.name == "Kendrick Lamar"
})
---

<ArtistLayout 
    artistName="Kendrick Lamar"
    artistDescription="Known for his socially conscious lyrics and innovative approach to hip-hop, Kendrick Lamar has won multiple Grammy Awards for his impactful work."
    artistCoverImage="url(https://cdn.torten.lol/server/artistsdb/covers/artist/kendrick-lamar.jpg)"
    artistSpotifyProfile="https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
    monthlyPlays={50716624}>
    <main>
        <p class="heading">Random Songs</p>
        <div>
            {artistSongs.map(entry => (
                <ul>
                    <a href={`/song/${entry.slug}`} style="text-decoration: none; color: currentColor">
                        <SongItem
                            title={entry.data.songTitle}
                            albumImageURL={entry.data.album.imageURL}
                            albumTitle={entry.data.album.name}
                            runningTime={entry.data.length}
                            releaseDate={entry.data.releaseDate}
                            />
                    </a>
                </ul>
                )
            )}
        </div>
    </main>
</ArtistLayout>


<style>
    p.heading {
        margin: 0.75em 1.25em;
        font-weight: 600;
        font-size: 1.25rem;
    }
</style>