---
import { getCollection } from 'astro:content'
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import SongItem from '../../components/SongItem.astro';

const artistSongs = await getCollection('lyrics', ({ data }) => {
    return data.artist.name == "Queen"
})
---

<ArtistLayout 
    artistName="Queen"
    artistDescription="Led by the incomparable Freddie Mercury, Queen crafted anthemic rock hits that showcased a diverse range of musical styles, from operatic rock to stadium-ready ballads."
    artistCoverImage="url(https://cdn.torten.lol/server/artistsdb/covers/artist/queen.jpg)"
    artistSpotifyProfile="https://open.spotify.com/artist/1dfeR4HaWDbWqFHLkxsg1d"
    monthlyPlays={52164041}>
    <main>
        <p class="heading">Random Songs</p>
        <div>
            {artistSongs.map(entry => (
                <ul>
                    <a href={`/song/${entry.slug}`} style="text-decoration: none; color: currentColor">
                        <SongItem
                            title={entry.data.songTitle}
                            albumImageURL={entry.data.album.imageURL}
                            albumTitle={entry.data.album.name}
                            runningTime={entry.data.length}
                            releaseDate={entry.data.releaseDate}
                            />
                    </a>
                </ul>
                )
            )}
        </div>
    </main>
</ArtistLayout>

<style>
    p.heading {
        margin: 0.75em 1.25em;
        font-weight: 600;
        font-size: 1.25rem;
    }
</style>