---
import { getCollection } from 'astro:content'
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import SongItem from '../../components/SongItem.astro';

const artistSongs = await getCollection('lyrics', ({ data }) => {
    return data.artist.name == "SOPHIE"
})
---

<ArtistLayout 
    artistName="SOPHIE"
    artistDescription="The late Scottish producer SOPHIE was known for pushing the boundaries of electronic music, particularly in the realm of experimental pop and avant-garde electronic sounds. Her innovative approach left a lasting impact on the electronic music scene."
    artistCoverImage="url(https://cdn.torten.lol/server/artistsdb/covers/artist/sophie.jpg)"
    artistSpotifyProfile="https://open.spotify.com/artist/5a2w2tgpLwv26BYJf2qYwu"
    monthlyPlays={448528}>
    <main>
        <p class="heading">Random Songs</p>
        <div>
            {artistSongs.map(entry => (
                <ul>
                    <a href={`/song/${entry.slug}`} style="text-decoration: none; color: currentColor">
                        <SongItem
                            title={entry.data.songTitle}
                            albumImageURL={entry.data.album.imageURL}
                            albumTitle={entry.data.album.name}
                            runningTime={entry.data.length}
                            releaseDate={entry.data.releaseDate}
                            />
                    </a>
                </ul>
                )
            )}
        </div>
    </main>
</ArtistLayout>


<style>
    p.heading {
        margin: 0.75em 1.25em;
        font-weight: 600;
        font-size: 1.25rem;
    }
</style>