---
import { getCollection } from 'astro:content'
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import SongItem from '../../components/SongItem.astro';

const artistSongs = await getCollection('lyrics', ({ data }) => {
    return data.artist.name == "The Strokes"
})
---

<ArtistLayout 
    artistName="The Strokes"
    artistDescription="Hailing from New York City, The Strokes are recognized for their garage rock-inspired sound and played a pivotal role in the indie rock resurgence of the early 2000s."
    artistCoverImage="url(https://cdn.torten.lol/server/artistsdb/covers/artist/the-strokes.webp)"
    artistSpotifyProfile="https://open.spotify.com/artist/0epOFNiUfyON9EYx7Tpr6V"
    monthlyPlays={12809810}>
    <main>
        <p class="heading">Random Songs</p>
        <div>
            {artistSongs.map(entry => (
                <ul>
                    <a href={`/song/${entry.slug}`} style="text-decoration: none; color: currentColor">
                        <SongItem
                            title={entry.data.songTitle}
                            albumImageURL={entry.data.album.imageURL}
                            albumTitle={entry.data.album.name}
                            runningTime={entry.data.length}
                            releaseDate={entry.data.releaseDate}
                            />
                    </a>
                </ul>
                )
            )}
        </div>
    </main>
</ArtistLayout>


<style>
    p.heading {
        margin: 0.75em 1.25em;
        font-weight: 600;
        font-size: 1.25rem;
    }
</style>