---
import { getCollection } from 'astro:content'
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import SongItem from '../../components/SongItem.astro';

const artistSongs = await getCollection('lyrics', ({ data }) => {
    return data.artist.name == "Willie Nelson"
})
---

<ArtistLayout 
    artistName="Willie Nelson"
    artistDescription="With a unique voice and an outlaw image, Willie Nelson has had a lasting impact on country music with hits like &quot;On the Road Again.&quot;"
    artistCoverImage="url(https://cdn.torten.lol/server/artistsdb/covers/artist/willie-nelson.jpg)"
    artistSpotifyProfile="https://open.spotify.com/artist/5W5bDNCqJ1jbCgTxDD0Cb3"
    monthlyPlays={7247432}>
    <main>
        <p class="heading">Random Songs</p>
        <div>
            {artistSongs.map(entry => (
                <ul>
                    <a href={`/song/${entry.slug}`} style="text-decoration: none; color: currentColor">
                        <SongItem
                            title={entry.data.songTitle}
                            albumImageURL={entry.data.album.imageURL}
                            albumTitle={entry.data.album.name}
                            runningTime={entry.data.length}
                            releaseDate={entry.data.releaseDate}
                            />
                    </a>
                </ul>
                )
            )}
        </div>
    </main>
</ArtistLayout>


<style>
    p.heading {
        margin: 0.75em 1.25em;
        font-weight: 600;
        font-size: 1.25rem;
    }
</style>