
---
import dayjs from 'dayjs';
interface Props {
    songAlbumName: string;
    songTitle: string;
    songArtist: string;
    songArtistLink: string;
    releaseDate: string | Date;
    albumCoverImage: string;
	songArtistImage: string;
	listen: {
		spotify: string;
		ytMusic: string;
	}
}

const { songAlbumName, songArtist, songTitle, songArtistImage, songArtistLink, releaseDate, albumCoverImage, listen } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		<title>{songTitle} - {songArtist} | ArtistDB</title>
	</head>
	<body>
        <header class="header-structure">
			<div class="content">
				<a href="/" style="margin-bottom: 0.5em; color: #fffffc; text-decoration: none; font-size: 1.5rem;">Artist<strong>DB</strong></a>
                <div class="song-info">
                    <img src={albumCoverImage} alt="" width="128" height="128">
                    <div>
						<div>
							<h1 class="title">{songTitle}</h1>
							<div class="song-metadata" >
								<div style="artist-wrapper">
									<img src={songArtistImage} alt="" width="16" height="16" style="border-radius: 999px;">
									<a href={songArtistLink} class="song-artist">{songArtist}</a>
								</div> 
								<span class="bullet">&bull;</span>
								<span>{songAlbumName}</span>
								<span class="bullet">&bull;</span>
								<span class="release-date">{dayjs(releaseDate).format('YYYY')}</span>
							</div>
						</div>
						<div class="listen-to">
							<a href={listen.spotify} class="button-sp">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;"><path d="M12.01 2.019c-5.495 0-9.991 4.496-9.991 9.991 0 5.494 4.496 9.99 9.991 9.99 5.494 0 9.99-4.496 9.99-9.99 0-5.495-4.446-9.991-9.99-9.991zm4.595 14.436c-.199.299-.549.4-.85.201-2.349-1.45-5.296-1.75-8.793-.951-.348.102-.648-.148-.748-.449-.101-.35.149-.648.45-.749 3.795-.85 7.093-.499 9.69 1.1.35.149.4.548.251.848zm1.2-2.747c-.251.349-.7.499-1.051.249-2.697-1.646-6.792-2.148-9.939-1.148-.398.101-.85-.1-.949-.498-.101-.402.1-.852.499-.952 3.646-1.098 8.143-.548 11.239 1.351.3.149.45.648.201.998zm.099-2.799c-3.197-1.897-8.542-2.097-11.59-1.146a.938.938 0 0 1-1.148-.6.937.937 0 0 1 .599-1.151c3.547-1.049 9.392-.85 13.089 1.351.449.249.599.849.349 1.298-.25.35-.849.498-1.299.248z"></path></svg>
								<span class="text">
									Listen on Spotify
								</span>
							</a>
							<a href={listen.ytMusic} class="button-yt">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;transform: ;msFilter:;"><path d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z"></path></svg>
								<span class="text">
									Listen on Youtube Music
								</span>
							</a>
						</div>
                    </div>
                </div>

			</div>
        </header>
		<slot />
	</body>
</html>
<style is:global define:vars={{ albumCoverImage }}>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	*, *::before, *::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	html {
		font-family: 'Rethink Sans', system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color: #fff;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.header-structure .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
		background-image: linear-gradient(90deg, #222, transparent);
        padding: 1.25em 1em;
		min-height: 30vh; 
	}

    .header-structure {
        min-height: fit-content;
        min-height: 30vh;
        background: var(--albumCoverImage);
        background-size: cover;
        background-position: center;
    }

	.song-info {
		display: flex;
		align-items: center;
		gap: 1em;
	}
	
	h1.title {
		font-size: 2.5rem;
		font-weight: 800;
	}

	a {
		text-decoration: none;
		color: #888;
	}

	a.song-artist {
		color: #ccc;
	}

	a.button-sp, a.button-yt {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.1em;
		padding: 0.25em 0.75em;
		background-color: #13151a;
		width: fit-content;
	}

	a.button-sp:hover {
		background-color: limegreen;
		color: #fff
	}

	a.button-yt:hover {
		color: #fff;
		background-color: red;
	}

	.listen-to {
		display: flex;
		gap: 0.25em;
		margin-top: 1.25em
	}
	
	.artist-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.15em;
		max-width: fit-content;
	}

	.song-metadata {
		display: flex;
		align-items: center;
		justify-items: center;
		max-width: fit-content;
		gap: 0.20em;
	}

	@media only screen and (max-width: 640px) {
		a.button-yt .text, a.button-sp .text {
			display: none;
			visibility: none;
			opacity: 0
		}
		.song-metadata .release-date, .song-metadata .bullet {
			display: none;
		}
		.song-metadata {
			flex-direction: column;
		}
		
	}
</style>
